[submodule "lib/RtosComponents"]
	path = lib/RtosComponents
	url = https://github.com/jondurrant/RtosComponents
[submodule "lib/twinThingPicoESP"]
	path = lib/twinThingPicoESP
	url = https://github.com/jondurrant/twinThingPicoESP
[submodule "lib/lwesp"]
	path = lib/lwesp
	url = https://github.com/MaJerle/lwesp
[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "lib/json-maker"]
	path = lib/json-maker
	url = https://github.com/rafagafe/json-maker
[submodule "lib/tiny-json"]
	path = lib/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED
[submodule "lib/lwespFork"]
	path = lib/lwespFork
	url = https://github.com/jondurrant/lwespFork
[submodule "lib/TwinThingPyMQTT"]
	path = lib/TwinThingPyMQTT
	url = https://github.com/jondurrant/TwinThingPyMQTT
